/* Default styles for larger screens */
.updated-sidebar {
  display: flex;
  flex-direction: column;
  width: 220px;
  background-color: #FEFEFE;
  color: black;
  box-shadow:  0px 4px 15px rgba(0, 0, 0, 0.507);

  padding-top: 1rem;
  border-radius: 1px;
  transition: width 0.3s;
}

.logo-header {
  padding-left: 20px;
  width: 160px;
  height: 60px;
}

.updated-sidebar-content {
  color: black;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  margin-top: 40px;
  font-size: large;
}

.sidebar-link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
  font-weight: 200;
  padding: 1rem;
  transition: background-color 0.3s;
  text-align: left;
}

.sidebar-link:hover {
  background-color: rgba(214, 91, 91, 0.705);
  color: white;
}

/* Selected Link Style */
.sidebar-link.selected {
  background-color: red;
  color: white;
}

/* Logout Button */
.logout {
  bottom: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black !important;
  font-weight: 600;
  padding: 1rem;
  width: fit-content;
  transition: background-color 0.3s;
}

.sidebar-toggle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  transition: transform 0.3s;
}

/* Media Query for Screens less than or equal to 768px */
@media screen and (max-width: 768px) {
  .updated-sidebar {
    flex-direction: row;
    width: 100%;
    padding-bottom: 20px;
  }
  
  .updated-sidebar-content {
    flex-direction: row;
    width: 100%;
    height: 60px !important;
    margin-top: 10px;
    font-size: small;
  }
  
  .sidebar-link {
    font-size: 10px !important;
    padding: 0.5rem !important;
  }

  /* Reduce the size of the logo */
  .logo-header {
    width: 100px;
  }
}

/* Media Query for Screens less than or equal to 500px */
@media screen and (max-width: 500px) {
  .updated-sidebar {
    flex-direction: row;
    width: 100%;
    padding-bottom: 0px;
    height: 50px !important;
  }

  /* Change the logo image for screens less than 500px */
  .logo-header {
    margin-top: 3px;
    height: 30px;
    width: 70px;
  }

  .sidebar-icon {
    height: 15px !important;
    width: 10px !important;
    margin-right: 0 !important;
    
  }

  .updated-sidebar-content {
    flex-direction: row;
    width: 100%;
    height: 60px !important;
    margin-top: 10px;
    font-size: small;
  }
  
  .sidebar-link {
    padding-left: -10px;
    font-size: 10px !important;
    padding: 0rem !important;
  }
}
