
.sidebar {
  width: 100px;
  min-height: 100vh;
  background-color: #FEFEFE; 
  color: black;
  transition: width 0.3s;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 1rem;
  border-radius: 1px;
}

.sidebar.open {
  background-color: #FEFEFE;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.507);
  color: black;
  width: 220px;
}

/* Hamburger Icon */
.hamburger {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.sidebar-content {
  color: black ;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  margin-top: 40px;
  font-size: large;
}


.sidebar-link {
  display: block; 
  width: 100%; 
  text-decoration: none;
  color: black ; 
  font-weight: 600;
  padding: 1rem;
  transition: background-color 0.3s;
  text-align: left; 
}

.sidebar-link:hover{
  background-color: rgba(214, 91, 91, 0.705); 
  color: white; 
}

/* Selected Link Style */
.sidebar-link.selected {
  background-color: red; 
  color: white; 
}

/* Logout Button */
.logout {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black !important;
  font-weight: 600;
  padding: 1rem;
  width: fit-content;
  transition: background-color 0.3s;
}

/* Sidebar Toggle Button */
.sidebar-toggle {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  transition: transform 0.3s;
}

/* Sidebar Toggle Bar */
.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 2px 0;
}
