.login {
  background-image: url('../../assests/etienne-martin-2_K82gx9Uk8-unsplash.jpg'); 
  background-size: cover; /* This will make the image cover the entire element */
  width: 100%;
  height: 100vh; /* Set the height to 100vh to cover the full height of the viewport */
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.besttext {
  margin-top: 22rem !important;
  color: rgb(235, 34, 34);
}
.rounded-start1{
height: 350px;
width:650px;
}
.rounded-start{
 
  padding-bottom: 20px;
}

.mb-0{
  color: black;
}