/* Adjust global styles as needed */
.section {
    margin-bottom: 10px;
    margin-top: 20px;
    display: flex;
    padding: 60px 0;
    /* Adjust the padding to your liking */
}

.about-section {
    background-color: #f5f5f5;
    /* Set the background color */
    flex: 1;
    padding: 0 20px;
    /* Add some padding to the sides */
    animation: slideToLeft 1s ease-in-out;
    /* Slide animation */
    display: flex;
    /* Add flex display to the about-section */
}

.container {
    max-width: 1200px;
    /* Set the maximum width of the container */
    margin: 0 auto;
    display: flex;
    /* Add flex display to the container */
    flex-direction: column;
    /* Set column layout for container */
}

.abt-boxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Allow boxes to wrap onto a new line */
}

.abt-left-box {
    flex: 1;
    /* Occupy available space */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 20px;
    /* Add some spacing between the two sections */
}

.abt-right-box {
    flex: 1;
    /* Occupy available space */
    padding-top: 20px;
    /* Add some spacing between the two sections */
    animation: slideToRight 1s ease-in-out;
    /* Slide animation */
    background-color: #fff;
    /* Set the background color of the right box */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
    animation: slideToRight 1s ease-in-out;
    /* Slide animation */
}

/* Animation keyframes */
@keyframes slideToLeft {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideToRight {
    from {
        opacity: 0;
        transform: translateX(20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Other styles */
.heading02 {
    align-items: flex-start;
    font-size: 38px;
    color: #333;
    /* Set the heading color */
}

.abt-icon img {
    width: 50px;
    /* Adjust the icon size */
    height: auto;
}

.abt-list {
    list-style: none;
    padding-left: 0;
    margin: 20px 0;
    color: #666;
    /* Set the list item color */
}

.abt-list li {
    display: inline-block;
    vertical-align: middle;

    color: #229e82;
    font-family: "MyriadProLight";
    font-size: 24px;
    padding: 8px 0;
    margin-bottom: 10px;
}

.abt-list strong {
    color: #333;
    /* Set the strong text color */
}

.about-btn-box {
    margin-top: 20px;
}

.about-btn-box a {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #007bff;
    /* Set the button background color */
    color: #fff;
    /* Set the button text color */
    text-decoration: none;
}

.clear {
    clear: both;
}