/* Base styles for larger screens */
.sign-container {
  margin-top: 20px !important;
  max-width: 920px !important;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.loan-details {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.loan-details .textfield {
  padding: 20px;
}

.loan-details h5 {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 20px;
}

.sign-contain {
  margin-top: 20px !important;
  max-width: 920px !important;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.form-label {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.loan-documents{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  .Apply-loan{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }
.form-label svg {
  margin-right: 10px;
}

.form-control {
  width: 100%;
}

.button-container {
  display: flex !important;
  justify-content: space-between !important;
  margin-top: 10px !important;
}

.button {
  padding: 8px 16px !important;
  border: none !important;
  border-radius: 4px !important;
  cursor: pointer !important;
}

.back {
  width: 180px !important;
  background-color: #007bff !important;
  color: white !important;
}

h2 {
  text-align: center;
}

.next {
  width: 180px !important;
  background-color: #007bff !important;
  color: white !important;
}

/* Media Query for Tablets */
@media screen and (max-width: 768px) {
  .loan-details {
      width: 100%;
  }

  .loan-details h5 {
      width: 100%;
  }
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 480px) {
  .sign-container,
  .sign-contain {
      max-width: 100% !important;
      padding: 10px;
      
  }

  .loan-details {
      width: 100%;
      font-size: small !important;  
  }

  .loan-details .textfield {
      padding: 10px;
  }

  .loan-details h5 {
      width: 100%;
      padding: 10px;
  }
}
