.users-container {
    padding: 20px;
    width: 100%;
  }
  
  .datagrid-container {
    height: 400px;
    width: 100%;
    margin-top: 20px;
    border-radius: 12px;
  }
  
  .MuiDataGrid-root {
    border: 1px solid #ccc;
  }
  
  .MuiTablePagination-root {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
  }
  
  .MuiDataGrid-columnsContainer {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ccc;
  }
  
  .MuiDataGrid-cell {
    display: flex;
    align-items: center;
  }
  
  .MuiDataGrid-row {
    cursor: pointer;
  }
  
  .MuiDataGrid-row.Mui-selected {
    background-color: #e0e0e0;
  }
  
  .MuiDataGrid-columnHeader {
    font-weight: bold;
  }
  
  .MuiDataGrid-sortIcon {
    font-size: 16px;
  }
  
/* UsersComponent.css */
.kyc-status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
}

.approved {
  background-color: rgba(0, 128, 0, 0.429);
  color: white;
}

.pending {
  background-color: rgba(225, 225, 69, 0.612);
}

  