/* Sidebar Container */
.sidebar {
    width: 200px;
    background-color: white;
    color: black;
    transition: width 0.3s;
    top: 0;
    left: 0;
    padding-top: 1rem;
    border-radius: 1px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.507);  
  }
  
  .sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    margin-top: 40px;
    font-size: large;
  }
  
  /* Sidebar Links */
  .sidebar-link {
    font-size: medium;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: 600;
    padding: 1rem;
    transition: background-color 0.3s;
  }
  
  .sidebar-link:hover {
    background-color: none;
  }
  
  /* Sidebar Icons */
  .sidebar-icon {
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
  }

  
 


  